.mainCont {
  float: left;
  /* margin-left: 12%; */
  margin-top: 5%;
}

.login {
  background-color: #222222;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 20%;
  position: relative;
}

.login button {
  background-color: cornflowerblue;
  border: none;
  border-radius: 5%;
  color: snow;
  float: right;
  margin: 150px 10px 20px 0px;
}

.login button:hover {
  cursor: pointer;
  background-color: lightgray;
}
.calendar {
  position: relative;
  float: right;
  margin-left: 25px;
}
.calendar-events {
  float: left;
  width: 400px;
  height: 400px;
  overflow: auto;
}
.calendar-page {
  float: left;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
