.sideNav {
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  padding-top: 40px;
}
.filler1,
.filler2 {
  position: fixed;
  margin: 0;
  padding: 0;
  background-color: #222222;
}

.filler1 {
  width: 67px;
  height: 40px;
  top: 0;
}
.filler2 {
  width: 67px;
  height: 100%;
}

.burger {
  margin-bottom: 20px;
}
.burger:hover {
  cursor: default;
  color: aquamarine;
}
.selectionClose {
  padding-bottom: 20px;
}
.selectionClose .tooltip {
  position: absolute;
  left: 500px;
  visibility: hidden;
  opacity: 0;
}
.selectionClose:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.selectionClose:hover {
  cursor: default;
  color: lightgoldenrodyellow;
}

.option {
  position: relative;
  background-color: dimgrey;
  padding: 20px;
}
.optionIcon {
  color: snow;
}

.option:hover {
  cursor: default;
  opacity: 1;
}
.expandOptions {
  position: absolute;
  top: 0px;
  left: 67px;
  background-color: inherit;
}
.quickSelect {
  position: absolute;
  left: 100%;
  padding: 20px;
  top: 130px;
  width: 300px;
  height: 300px;
  background-color: lightgoldenrodyellow;
  z-index: -1;
}
.newTask {
  position: absolute;
  left: 100%;
  padding: 20px;
  top: 190px;
  width: 300px;
  height: 300px;
  background-color: gainsboro;
  z-index: -1;
}
.newProject {
  position: absolute;
  left: 100%;
  padding: 20px;
  top: 70px;
  width: 300px;
  height: 300px;
  background-color: gainsboro;
  z-index: -1;
}

.expandOption {
  width: 100%;
  float: left;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  color: white;
}

.optionIcon:hover {
  cursor: pointer;
  color: lightslategrey;
}
.expandOption:hover {
  color: whitesmoke;
  background-color: lightslategrey;
  /* opacity: 1; */
  cursor: pointer;
}

.noteButton {
  background-color: cornflowerblue;
  border: none;
  border-radius: 5%;
  margin-left: 10px;
  color: snow;
}
.noteButton:hover,
.minimizedButton:hover {
  cursor: default;
  background-color: lightgray;
}

.minimizedButton {
  background-color: cornflowerblue;
  border: none;
  border-radius: 5%;
  margin-left: 10px;
  color: snow;
  position: absolute;
  left: 40px;
}

.minimizedNote {
  position: absolute;
  left: 100%;
  top: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
